<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="androidx.car.app.MAP_TEMPLATES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoIntentCrash"
        tools:targetApi="34">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AutoIntentCrash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/DEEP_LINK_SCHEME" />
                <data
                    android:host="@string/DEEP_LINK_HOST_POOL_DETAILS" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />

        <meta-data
            android:name="androidx.car.app.theme"
            android:resource="@style/CarAppTheme" />

        <service
            android:name="com.bmw.chargenow.presentation.auto.DCSCarAppService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="CrashTestApp">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.CHARGING" />
            </intent-filter>
        </service>
    </application>

</manifest>
